@import "bootstrap"; 

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.field_with_errors {
  input {
    @extend .is-invalid;
  }
}

body {
  min-height: 100vh;
}

header {
  background-color: #202020;
  color: #ffffff;
  margin-bottom: 20px;
}

footer {
  background-color: #b0b0b0;
  color: #000000;
}

form{
  input, textarea, select, .uneditable-input {
    border: 1px solid #b0b0b0;
    width: 100%;
    margin-bottom: 20px;
    @include box_sizing;
  }
}

input {
  height: auto !important;
}