
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap"; 

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.field_with_errors {
  input {
    @extend .is-invalid;
  }
}

body {
  min-height: 100vh;
}

header {
  background-color: #202020;
  color: #ffffff;
  margin-bottom: 20px;
  ul{
    display: inline;
    li {
      display: inline-block;
      margin-right: 20px;
    }
  }
}

footer {
  background-color: #b0b0b0;
  color: #000000;
}

.content{
  form{
    input, textarea, select, .uneditable-input {
      border: 1px solid #b0b0b0;
      width: 100%;
      margin-bottom: 20px;
      @include box_sizing;
    }
  }
  
  .images_form, .image_append{
    margin-bottom: 20px;
  }

  input {
    height: auto !important;
  }

  ul {
    list-style: none;
    li {
      float: left;
      margin-bottom: 20px;
    }
  }
}

.card {
  img {
    max-height: 30%;
  }
}

#portdolioSlider {
  background-color: gray;
}

.slide-footer{
  background-color: rgba(0,0,0,0.3);
  bottom: 0;
}

.carousel-caption {
  width: 100%;
  margin-left: -15%;
  margin-bottom: -2%;
}

.carousel-item {
  height: 400px;
}
