/**
 * 共通設定
 */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin compornent_distance {
  margin-bottom: 20px;
}

body {
  min-height: 100vh;
  background: url('../../images/white_back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  background-color: #202020;
  color: white;
  @include compornent_distance;
  ul {
    display: inline;
    li {
      display: inline-block;
      margin-right: 20px;
      .logo {
        max-height: 40px;
      }
    }
  }
}

footer {
  background-color: #b0b0b0;
  color: black;
}

.avatar {
  border-radius: 50%;
}
