.base-comment {
  font-size: larger;
}
.comment {
  padding-top:  10px;
  padding-left: 20px;
  border-top: dashed 1px #505050;
}

.cancel-button {
  margin-right: 15px;
}

.commented-at {
  padding-top: 5px;
}

.anchor{
  color: blue;
  margin-bottom: 0px;
}

.icon {
  a {
    color: black;
    text-decoration: none;
    :hover {
      color: gray;
    }
  }

  :hover {
    color: gray;
  }
}
