/**
 * shared内のパーシャル
 */
@import "src/stylesheets/common";
.field_with_errors {
  input {
    @extend .is-invalid;
  }
}

.content{
  .centor > :not(.portfolio_list) {
    background-color: white;
  }

  form {
    input, textarea, select, .uneditable-input {
      border: 1px solid #b0b0b0;
      width: 100%;
      @include compornent_distance;
      @include box_sizing;
    }
    input.reply-form{
      border: none;
      border-bottom: solid 1px #505050;
      margin-bottom: 5px;
    }
  }

  input {
    height: auto !important;
  }

  ul {
    list-style: none;
    li {
      float: left;
      @include compornent_distance;
    }
  }
}

.card {
  img {
    max-height: 30%;
  }
}

img.card-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.author-content {
  float: left;
}

.card-body {
  .avatar {
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }
  .card-title {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: large;
    color: black;
  }
}

.card-footer {
  >.btn{
    position: absolute;
    right: 20px;
    bottom: 12px;
  }
}
