/**
 * shared内のパーシャル
 */
@import "src/stylesheets/common";
.field_with_errors {
  input {
    @extend .is-invalid;
  }
}

.content{
  .centor > :not(.portfolio_list) {
    background-color: white;
  }

  form {
    input, textarea, select, .uneditable-input {
      border: 1px solid #b0b0b0;
      width: 100%;
      @include compornent_distance;
      @include box_sizing;
    }
    input.reply-form{
      border: none;
      border-bottom: solid 1px #505050;
      margin-bottom: 5px;
    }
  }

  input {
    height: auto !important;
  }

  ul {
    list-style: none;
    li {
      float: left;
      @include compornent_distance;
    }
  }
}

.card {
  img {
    max-height: 30%;
  }
}
