<footer class="footer">
    <div class="container">
        <small>© 2020 2suke</small>
        <address>
            <small>
                このホームページに関するお問合せは下記までお願い致します。<br>
                takozawa3@xxx.com
            </small>
        </address>
    </div>
</footer>
