<header>
  <h1>title logo</h1>
  <p>表示順序：</p>
  <select>
    <option value="old">新しい順</option>
    <option value="reply">コメントが多い順</option>
  </select>

  <div id="nav-drawer">
    <label id="nav-icon"></label>
    <nav>
      <li>Profile</li>
      <li>Users</li>
      <li>Message</li>
      <li>Logout</li>
    </nav>
  </div>
</header>
